<div class="card-header">
    <span>
        Formulaire article
    </span>
    <mat-icon (click)="close()" *ngIf="modeModale()" class="close-frm">close</mat-icon>
</div>
<div class="card-content">
    <form *ngIf="fieldsArticle && fieldsArticle.length>0" #formContent="ngForm">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <!-------------------------- Formulaire --------------------------->
            <mat-tab label="Formulaire">
                <br>
                <mat-form-field *ngIf="showFiled('name')" class="width-200" appearance="outline">
                    <mat-label>{{showFiledName("name")}}</mat-label>
                    <input  [required]="requiredFiled('name')" matInput type="text" name="nom" [(ngModel)]="article.name" >
                    <mat-hint *ngIf="submit && !article.name" class="error">Le nom est obligatoire</mat-hint>
                </mat-form-field>
                <mat-form-field *ngIf="showFiled('name2')" class="width-200" appearance="outline">
                    <mat-label>{{showFiledName("name2")}}</mat-label>
                    <input  [required]="requiredFiled('name2')" matInput type="text" name="nom2" [(ngModel)]="article.name2" >
                    <mat-hint *ngIf="submit && !article.name2" class="error">Le nom 2 est obligatoire</mat-hint>
                </mat-form-field>
                <mat-form-field *ngIf="showFiled('price')" class="width-200" appearance="outline">
                    <mat-label>{{showFiledName("price")}}</mat-label>
                    <input  [required]="requiredFiled('price')" matInput type="text" name="price" [(ngModel)]="article.price" >
                    <mat-hint *ngIf="submit && !article.price" class="error">Le prix est obligatoire</mat-hint>
                </mat-form-field>
                <mat-form-field *ngIf="showFiled('date1')" class="width-200" appearance="outline">
                    <mat-label>{{showFiledName("date1")}}</mat-label>
                    <input  [required]="requiredFiled('date1')" matInput [matDatepicker]="picker" name="date1" [(ngModel)]="article.date1">
                    <mat-hint *ngIf="submit && !article.date1" class="error">{{showFiledName("date1")}} est obligatoire</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div  *ngIf="showFiled('description')">
                    <mat-label>{{showFiledName("description")}}</mat-label>
                    <div id="description"></div>
                </div>
                <br>
                <div  *ngIf="showFiled('full_description')">
                    <mat-label>{{showFiledName("full_description")}}</mat-label>
                    <div id="full_description"></div>
                </div>
            </mat-tab>
            <!-------------------------- Liste images --------------------------->
            <mat-tab *ngIf="!modeAdd()" label="Liste images">
                <br>
                <div class="image-centent" *ngFor="let resolutionByTypeContent of listeResolutionsByTypeContent;let index = index" >
                    <h3><b> Image {{resolutionByTypeContent.resolution.width}} / {{resolutionByTypeContent.resolution.height}}</b></h3>
                    <p>{{resolutionByTypeContent.name}}</p>
                    <div  class="image-centent-center">
                        <app-image 
                            [width] = "'50px'"
                            [name]="filterImageByResolution(resolutionByTypeContent.resolution).length == 0? 'Aucune image' : 'Ajouter'"  
                            [resolution]="resolutionByTypeContent.resolution" 
                            [index]="index + ''" 
                            (action)="actionImage($event)" 
                            [src]="'assets/images/add-image.png'">
                        </app-image>
                    </div>
                    <br>
                    <div>
                        <div class="display-flex">
                            <div
                                *ngFor="let image of filterImageByResolution(resolutionByTypeContent.resolution);let index2 = index" >
                                <app-image 
                                    [name]="''" 
                                    [image]="image"
                                    
                                    [resolution]="resolutionByTypeContent.resolution" 
                                    [index]="index + '-' + index2" 
                                    (action)="actionImage($event)" 
                                    [src]="getSrc(image)">
                                </app-image>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="!modeAdd()" label="Liste catégorie">
                <br>
                <div class="btn-close-frm">
                    <button (click)="ajouterCategorie()" mat-raised-button class="btn-add">
                        <mat-icon>add</mat-icon>
                        Ajouter
                    </button>
                </div>
                <app-table [header]="header" [data]="listeCategorie" (action)="actionCategorie($event)"></app-table>
            </mat-tab>
            <mat-tab *ngIf="!modeAdd()" label="Seo">
                <br>
                <mat-form-field class="width-200" appearance="outline">
                    <mat-label>Titre</mat-label>
                    <textarea matInput name="title_seo" [(ngModel)]="article.title_seo"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field class="width-400" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput name="description_seo" [(ngModel)]="article.description_seo"></textarea>
                </mat-form-field>
            </mat-tab>
            <!-- <mat-tab *ngIf="!modeAdd()" label="Liste articles liés ">
                <br>
            </mat-tab> -->
            
            <!-- <mat-tab *ngIf="!modeAdd()" label="liste couleurs">
                <br>
            </mat-tab>
            <mat-tab *ngIf="!modeAdd()" label="liste tailles">
                <br>
            </mat-tab>
            <mat-tab *ngIf="!modeAdd()" label="liste caractéristique">
                <br>
            </mat-tab> -->
        </mat-tab-group>
        <div class="btn-close-frm">
            <button (click)="close()" *ngIf="modeModale()" mat-raised-button class="btn-close">
                <mat-icon>close</mat-icon>
                Fermer
            </button>
            <button (click)="save(formContent)" mat-raised-button class="save">
                <mat-icon>save</mat-icon>
                Enregistrer
            </button>
        </div>
    </form>

</div>
