<div class="card-header">
    <span>
        Formulaire contenu accueille
    </span>
    <mat-icon (click)="close()" class="close-frm">close</mat-icon>
</div>
<div class="card-content">
    <form #formContent="ngForm"> 
        <mat-radio-group *ngIf="showFiled('choix_selection')"  [required]="requiredFiled('choix_selection')"  (change)="choixSelectionChange()" name="choix_selection" [(ngModel)]="choixSelection">
            <mat-radio-button value="1">Sélection libre</mat-radio-button>
            <mat-radio-button value="2">Sélection du DB</mat-radio-button>
        </mat-radio-group>
        <mat-hint *ngIf="submit && !choixSelection" class="error">La sélection est obligatoire</mat-hint>
       
        
        <mat-form-field *ngIf="showFiled('ordre')" class="width-100" appearance="outline">
            <mat-label>Ordre</mat-label>
            <input  [required]="requiredFiled('ordre')" matInput type="number" name="ordre" [(ngModel)]="ligneAccueille.ordre" >
            <mat-hint *ngIf="submit && !ligneAccueille.ordre" class="error">Le prix est obligatoire</mat-hint>
        </mat-form-field>
        <div [hidden]="!(choixSelection == '1' || !showFiled('choix_selection'))">
            <mat-form-field *ngIf="showFiled('name')" class="width-200" appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput type="text" name="nom" [(ngModel)]="ligneAccueille.name" >
                <mat-hint *ngIf="submit && !ligneAccueille.name" class="error">Le nom est obligatoire</mat-hint>
            </mat-form-field>    
            <div *ngIf="showFiled('text')">
                <mat-label>Texte</mat-label>
                <div id="texte"></div>
                <mat-hint *ngIf="submit && !ligneAccueille.text" class="error">Le texte est obligatoire</mat-hint>
            </div>
            <app-image 
                        [required]="requiredFiled('image')" 
                        *ngIf="showFiled('image')" 
                        [index]="'1'" 
                        [src]="getSrc()" 
                        [submit]="submit" 
                        [listeResolutions]="listeResolutions"
                        (action)="actionImage($event)"></app-image>
        </div>
        <div [hidden]="!(choixSelection == '2' || !showFiled('choix_selection'))">
            <mat-form-field *ngIf="showFiled('id_article')" appearance="outline">
                <mat-label>Article</mat-label>
                <input disabled="true" [required]="requiredFiled('id_article') && (ligneAccueille.id_categorie == null || ligneAccueille.id_categorie == -1)"  matInput type="text" name="article_name" [(ngModel)]="ligneAccueille.article.name">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="selectArticle()">
                <mat-icon>search</mat-icon>
                </button>
                <mat-hint *ngIf="submit && !ligneAccueille.id_article" class="error">L'article est obligatoire</mat-hint>
            </mat-form-field>
            <mat-form-field *ngIf="showFiled('id_categorie')" appearance="outline">
                <mat-label>Catégorie</mat-label>
                <input disabled="true" [required]="requiredFiled('id_categorie') && (ligneAccueille.id_article == null || ligneAccueille.id_article == -1)"  matInput type="text" name="id_categorie" [(ngModel)]="ligneAccueille.categorie.name">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="selectCategorie()">
                <mat-icon>search</mat-icon>
                </button>
                <mat-hint *ngIf="submit && !ligneAccueille.id_categorie" class="error">La catégorie est obligatoire</mat-hint>
            </mat-form-field>
        </div>
        <div class="btn-close-frm">
            <button (click)="close()" mat-raised-button class="btn-close">
                <mat-icon>close</mat-icon>
                Fermer
            </button>
            <button (click)="save(formContent)" mat-raised-button class="save">
                <mat-icon>save</mat-icon>
                Enregistrer
            </button>
        </div>
    </form>
    
</div>
