<div class="card-header">
    <span>
        Formulaire contenu accueille
    </span>
    <mat-icon (click)="close()" class="close-frm">close</mat-icon>
</div>
<div class="card-content">
    <form #formContent="ngForm">    
        <mat-form-field *ngIf="showFiled('name')" class="width-400" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" name="nom" [(ngModel)]="ligneAccueille.name" >
            <mat-hint *ngIf="submit && !ligneAccueille.name" class="error">Le nom est obligatoire</mat-hint>
        </mat-form-field>    
        <div *ngIf="showFiled('text')">
            <mat-label>Texte</mat-label>
            <div id="texte"></div>
        </div>
        <app-image *ngIf="showFiled('image')" [index]="1" [src]="getSrc()" [submit]="submit" [required]="true" [resolution]="{width : 100, height:200}" (action)="actionImage($event)"></app-image>

    </form>
    <div class="btn-close-frm">
        <button (click)="close()" mat-raised-button class="btn-close">
            <mat-icon>close</mat-icon>
            Fermer
        </button>
        <button (click)="save()" mat-raised-button class="save">
            <mat-icon>save</mat-icon>
            Enregistrer
        </button>
    </div>
</div>
