#body-content
{
    padding : 10px 10px 0 10px;
}
.responsive-body
{
    display: flex;
    height: calc(100% - var(--heigth-topbar));
}
#my-menu
{
    // width: var(--width-menu);
    // min-width: var(--width-menu);
    width: 250px;
    min-width: 250px
}

@media screen and (min-width: 681px)
{
    // #body-content
    // {
    //      width: calc(100% - var(--width-menu));
    // }
}
@media screen and (max-width: 681px)
{
    
    #body-content
    {
        width: 100%!important;
    }
    #my-menu
    {
        display: none;
    }
}