<!-- <div class="menu-margin" id="menu">
    <div *ngFor="let menu of getParentNode()">
        <div (click)="goToMenu(menu)" class="item-menu display-flex">
                <button class="btn-hover"  mat-button [ngStyle]="{color : (menu.selected && getSubParentNode(menu).length == 0)? menu.selectedColor : menu.color}">

                    <mat-icon *ngIf="menu.icon && menu.componont=='material'">{{menu.icon}}</mat-icon>
                    <i *ngIf="menu.icon && menu.componont=='prime-ng'" [ngClass]="menu.icon"></i>
                    {{menu.name}}
                </button>
            
            <div *ngIf="getSubParentNode(menu).length > 0 ">
                <button class="btn-hover"  *ngIf="menu.open" mat-button >
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <button class="btn-hover" *ngIf="!menu.open" mat-button >
                    <mat-icon >keyboard_arrow_left</mat-icon>
                </button>
                
            </div>
        </div>
        <hr>
        <div *ngIf="menu.open">
            <div (click)="goToMenu(subMenu)" *ngFor="let subMenu of getSubParentNode(menu)">
                <div  class=" item-menu" >
                    <div class="sub-menu">   
                        <button class="btn-hover" mat-button [ngStyle]="{color : subMenu.selected ? subMenu.selectedColor : subMenu.color}">
                            <mat-icon *ngIf="subMenu.icon && subMenu.componont=='material'">{{subMenu.icon}}</mat-icon>
                            {{subMenu.name}}
                        </button> 
                    </div>  
                    
                </div>
                <div class="padding-left-16">
                    <hr>    
                </div>
                
            </div>
            
        </div>
    </div>
</div> -->
<div class="menu-margin" id="menu">
    <p-panelMenu [model]="menu"></p-panelMenu>
</div>