<div class="card-header">
    <span>
        Liste catégories
    </span>
    <mat-icon (click)="close()" *ngIf="modeModale()" class="close-frm">close</mat-icon>
</div>
<div class="card-content">
    <p-tree #tree [value]="categorieTree" [selectionMode]="'single'" (onNodeSelect)="onNodeSelect($event)" [(selection)]="selectedNode" >
        <ng-template let-node pTemplate="default">
            <p-checkbox [disabled]="true" [(ngModel)]="node.data.selected" [binary]="true" inputId="binary"></p-checkbox>
            {{ node.label }}
        </ng-template>
    </p-tree>
    <br>
    <div class="btn-close-frm">
        <button (click)="supprimer()" mat-raised-button class="btn-close">
            <mat-icon>edit</mat-icon>
            Supprimer
        </button>
        <button (click)="modifier()" mat-raised-button class="btn-update">
            <mat-icon>edit</mat-icon>
            Modifier
        </button>
        <button (click)="ajouter()" mat-raised-button class="btn-add">
            <mat-icon>edit</mat-icon>
            Ajouter
        </button>
        <button  *ngIf="modeModale()"(click)="selectCategorie()" mat-raised-button class="save">
            <mat-icon>keyboard_return</mat-icon>
            Choisir
        </button>
    </div>
</div>